<main>
  <header>
    <h1>Rogue</h1>
    <nav>
      <%= live_patch to: Routes.live_path(@socket, RogueWeb.PageLive) do %>
      Home
      <% end %>
    </nav>

  </header>
  <%= @inner_content %>
</main>
